<div class="container mt-3 mt-sm-4">

    <H2 class="publish-h2">Publish your vehicle:</H2>
    <modal #modal [text]="validation_error" [header]="'Error, input not allowed!'"></modal>

    <form (ngSubmit)="addNewVehicle()" id="list-your-car" enctype="multipart/form-data">
        <div class="py-3 py-sm-4">
            <H4 class="col-sm-12">Upload a photo:</H4>
            <div class="form-group border border-dark rounded p-2">
                <label for="exampleFormControlFile1">Upload pictures from your car:</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" name="photo" multiple (change)="selectImage($event)"/>
            </div>
        </div>

        <div class="form-row">
            <H4 class="col-sm-12 pt-2 pt-sm-2">General info:</H4>
            <div class="input-group col-sm-12 col-md-6 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Make:</span>
                </div>
                <input type="text" aria-label="Make" class="form-control" autofocus tabindex=1 name="make"
                    [(ngModel)]="newVehicle.make">
            </div>

            <div class="input-group col-sm-12 col-md-6 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Model:</span>
                </div>
                <input type="text" aria-label="Model" class="form-control" tabindex=2 name="model"
                    [(ngModel)]="newVehicle.model">
            </div>

            <div class="input-group col-sm-12 col-md-6 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Type of fuel:</span>
                </div>
                <select class="form-control" tabindex=3 name="typeoffuel" [(ngModel)]="newVehicle.typeoffuel" (change)="isElectric($event)">
                    <option [ngValue]="1">Petrol</option>
                    <option [ngValue]="2">Diesel</option>
                    <option [ngValue]="3">Hybrid</option>
                    <option [ngValue]="4">Electric</option>
                    <option [ngValue]="5">LPG</option>
                </select>
            </div>

            <div class="input-group col-sm-12 col-md-6 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Vehicle type:</span>
                </div>
                <select class="form-control" tabindex=4 name="category" [(ngModel)]="newVehicle.category">
                    <option [ngValue]="1">Saloon</option>
                    <option [ngValue]="2">Estate</option>
                    <option [ngValue]="3">Hatchback</option>
                    <option [ngValue]="4">Coupe</option>
                    <option [ngValue]="5">SUV</option>
                    <option [ngValue]="6">Pick-up</option>
                </select>
            </div>

            <div class="input-group col-sm-6 col-md-6 col-lg-4 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Horsepower:</span>
                </div>
                <input type="text" aria-label="Model" class="form-control" tabindex=5 name="hp"
                    [(ngModel)]="newVehicle.hp">
            </div>

            <div class="input-group col-sm-6 col-md-6 col-lg-4 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Max-speed:</span>
                </div>
                <input type="text" aria-label="Model" class="form-control" tabindex=6 name="maxspeed"
                    [(ngModel)]="newVehicle.maxspeed">
            </div>

            <div class="input-group col-sm-6 col-md-6 col-lg-4 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Acceleration 0-100 km/h:</span>
                </div>
                <input type="text" aria-label="Model" class="form-control" tabindex=7 name="acceleration"
                    [(ngModel)]="newVehicle.acceleration">
            </div>


            <div class="input-group col-sm-6 col-md-6 col-lg-4 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Fuel consumption:</span>
                </div>
                <input #inputEl type="text" aria-label="Model" class="form-control" tabindex=8 name="consumption"
                    [(ngModel)]="newVehicle.consumption"> 
            </div>

            <div class="input-group col-sm-6 col-md-6 col-lg-4 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Number of seats:</span>
                </div>
                <input type="text" aria-label="Model" class="form-control" tabindex=9 name="seats"
                    [(ngModel)]="newVehicle.seats">
            </div>

            <div class="input-group col-sm-6 col-md-6 col-lg-4 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Number of doors:</span>
                </div>
                <input type="text" aria-label="Model" class="form-control" tabindex=10 name="doors"
                    [(ngModel)]="newVehicle.doors">
            </div>
            <div class="input-group col-sm-6 col-md-6 col-lg-4 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Luggage capacity:</span>
                </div>
                <input type="text" aria-label="Model" class="form-control" tabindex=11 name="luggage"
                    [(ngModel)]="newVehicle.luggage">
            </div>
            <div class="input-group col-sm-12 col-md-6 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" tabindex=12>Minimum age:</span>
                </div>
                <select class="form-control" tabindex=4 name="minage" [(ngModel)]="newVehicle.minage">
                    <option [ngValue]="1">15</option>
                    <option [ngValue]="2">16</option>
                    <option [ngValue]="3">18</option>
                    <option [ngValue]="4">21</option>
                </select>
            </div>

            <H4 class="col-sm-12 pt-2 pt-sm-2">Features:</H4>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2 mx-4">
                <input type="checkbox" class="custom-control-input" id="AirConditioning" name="AirConditioning"
                    [(ngModel)]="newVehicle.AirConditioning">
                <label class="custom-control-label" for="AirConditioning">A/C</label>
            </div>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2  mx-4">
                <input type="checkbox" class="custom-control-input" id="Navigation" name="Navigation"
                    [(ngModel)]="newVehicle.Navigation">
                <label class="custom-control-label" for="Navigation">Navigation</label>
            </div>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2  mx-4">
                <input type="checkbox" class="custom-control-input" id="USB" name="USB" [(ngModel)]="newVehicle.USB">
                <label class="custom-control-label" for="USB">USB</label>
            </div>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2  mx-4">
                <input type="checkbox" class="custom-control-input" id="AUX" name="AUX" [(ngModel)]="newVehicle.AUX">
                <label class="custom-control-label" for="AUX">AUX</label>
            </div>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2  mx-4">
                <input type="checkbox" class="custom-control-input" id="Bluetooth" name="bluetooth"
                    [(ngModel)]="newVehicle.bluetooth">
                <label class="custom-control-label" for="Bluetooth">Bluetooth</label>
            </div>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2  mx-4">
                <input type="checkbox" class="custom-control-input" id="Parking-sensors" name="parkingsensors"
                    [(ngModel)]="newVehicle.parkingsensors">
                <label class="custom-control-label" for="Parking-sensors">Parking Sensors</label>
            </div>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2  mx-4">
                <input type="checkbox" class="custom-control-input" id="Auto-pilot" name="autopilot"
                    [(ngModel)]="newVehicle.autopilot">
                <label class="custom-control-label" for="Auto-pilot">Auto-pilot</label>
            </div>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2  mx-4">
                <input type="checkbox" class="custom-control-input" id="accessibility" name="accessibility"
                    [(ngModel)]="newVehicle.accessibility">
                <label class="custom-control-label" for="accessibility">Accessible</label>
            </div>

            <H4 class="col-sm-12 pt-2 pt-sm-2">Additional info:</H4>
            <div class="input-group col-sm-12">
                <textarea class="form-control" id="TextArea" rows="3" tabindex=13 name="description"
                    [(ngModel)]="newVehicle.description"></textarea>
            </div>

            <H4 class="col-sm-12 pt-2 pt-sm-2">Location &amp; price:</H4>

            <div class="input-group col-sm-12 col-lg-6 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Adress:</span>
                </div>
                <input type="text" class="form-control" id="addres" placeholder="1234 Main St" tabindex=14 name="addres"
                    [(ngModel)]="newVehicle.addres">
            </div>

            <div class="input-group col-sm-6 col-lg-3 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">City:</span>
                </div>
                <input type="text" aria-label="Model" id="city" class="form-control" tabindex=15 name="city"
                    [(ngModel)]="newVehicle.city">
            </div>

            <div class="input-group col-sm-6 col-lg-3 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">ZIP:</span>
                </div>
                <input type="text" aria-label="Model" id="zip" class="form-control" tabindex=16 name="zip"
                    [(ngModel)]="newVehicle.zip">
            </div>

            <div class="input-group col-12">
                <div class="input-group-prepend">
                    <span class="input-group-text">Country:</span>
                </div>
                <input type="text" aria-label="Model" id="country" class="form-control" tabindex=15 name="country"
                    [(ngModel)]="newVehicle.country">
            </div>

            <div class="input-group col-sm-12 col-lg-5 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Price per day:</span>
                </div>
                <input type="text" aria-label="Model" class="form-control" id="inputPrice" tabindex=17 name="price"
                    [(ngModel)]="newVehicle.price">
            </div>

            <div class="input-group col-sm-12 col-lg-7 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Contact number:</span>
                </div>
                <input type="text" aria-label="Model" class="form-control" tabindex=18 name="number">
            </div>

            <div class="input-group col-sm-12 col-lg-12 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Available on:</span>
                </div>
                <input type="date" class="form-control" name="date" tabindex=19 name="datefrom"
                    [(ngModel)]="newVehicle.date[0]">
                <input type="date" class="form-control" name="date" tabindex=20 name="dateto"
                    [(ngModel)]="newVehicle.date[1]">
            </div>


            <div class="row col-12 py-4 justify-content-center">
                <div class="col-1">

                    <a *ngIf="user_logged">
                        <input type="submit" class="btn btn-lg btn-secondary" tabindex=21>
                    </a>

                </div>
            </div>

        </div>

    </form>

</div>

<!-- Podporni knjižnici jQuery in Popper -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>

<!-- Prevedena in minimizirana JavaScript koda verzije 4.5.2 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>