<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="forgot-pw-container col-12 col-md-6 col-xl-6 text-center">
            <h3>Please enter your email address below.</h3>
            <h3>We will send you information to change your password.</h3>
            <modal #modal [text]="modal_text" [header]="'Error!'"></modal>
            <form (ngSumbit)="recover_password()">
                <div class="forgot-pw-el">
                    <label for="e-mail">
                        <i class="fas fa-pen"></i>
                    </label>
                    <input [(ngModel)]="email_of_user" id="mail" type="email" class="w-75" name="email" placeholder="email" autofocus>
                </div>
                <input (click)="recover_password()" id="submit-forgot" type="submit" class="btn btn-dark w-80" value="RECOVER PASSWORD">
                <div class="forgot-pw-el">
                    <a routerLink="login">Login page</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <a routerLink="/" class="btn btn-info">Back to homepage</a>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="../../../../assets/images/forgot-password-bg.jpg" class="img-fluid mt-2 z-img" alt="...">
        </div>
    </div>
</div>
<script src="../../../../assets/javascripts/forgotpassword.js"></script>
<script src="../../../../assets/javascripts/validate.js"></script>