<main>
  <section class="container">
    <div *ngIf="alert_error" id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
      <p>{{alert_error}}</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="podatki_uporabnika" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <img *ngIf="user" class="rounded-circle slika_uporabnika" src="../../../assets/images/{{user.profile_picture}}" alt="Slika profila">
      <h3 *ngIf="user" class="top-spacing centered"> <span id="ime_uporabnika">{{user.firstname}} </span> <span
          id="priimek_uporabnika">{{user.lastname}}</span></h3>
      <p *ngIf="user" id="mail_uporabnika" class="centered">{{user.email}}</p>
      <p *ngIf="user" id="telefonska_stevilka_uporabika" class="centered">{{user.phone_number}}</p>
      <p *ngIf="user" id="kraj_uporabnika" class="centered">{{user.location}}</p>
      <button *ngIf="is_logged_or_admin_user()" type="button" class="btn btn-primary btn-block" (click)="edit_user()">Edit</button>
      <button *ngIf="is_profile_of_logged_user" type="button" class="btn btn-danger btn-block" (click)="logout()">Log out</button>
      <button *ngIf="is_logged_or_admin_user()" type="button" class="btn btn-danger btn-block" (click)="delete_user()">Delete</button>
    </div>

    <div id="vozila_uporabnika">
      <h2>My vehicles</h2>
      <div class="row" *ngFor="let owned_car of owned_cars">
        <div class="card col-12 col-sm-12 col-md-7 col-lg-5 col-xl-4 card_auto">
          <img *ngIf="owned_car._id" class="card-img-top slika_auto" src="../../../assets/images/{{owned_car.images[0]}}" alt="Slika avta" onclick="show_vehicle('{{owned_car._id}}')">
          <img *ngIf="owned_car._id == null"class="card-img-top slika_auto" src="../../../assets/images/{{owned_car.images[0]}}" alt="Slika avta">
          <div class="card-body">
            <h5 class="card-text">{{owned_car.make}}</h5>
              <a *ngIf="show_controls && owned_car._id" type="button" routerLink="/vehicles/{{owned_car._id}}/edit" class="btn btn-primary btn-block card_auto_najemi_button">Edit</a>
              <button *ngIf="show_controls" type="button" onclick="location.href='/users/delete/vehicles/{{owned_car._id}}'" class="btn btn-danger btn-block">Remove</button>
          </div>
        </div>
      </div>
    </div>

    <div id="favourite_vozila_uporabnika">
      <h2>Favorite vehicles</h2>
      <div class="row" *ngFor="let favourite_car of favourite_cars">
        <div class="card col-12 col-sm-12 col-md-7 col-lg-5 col-xl-4 card_auto">
          <img *ngIf="favourite_car.id" class="card-img-top slika_auto" src="../../../assets/images/{{favourite_car.images[0]}}" alt="Slika avta" onclick="show_vehicle('{{favourite_car.id}}')">
          <img *ngIf="favourite_car.id == null" class="card-img-top slika_auto" src="../../../assets/images/{{favourite_car.images[0]}}" alt="Slika avta">
          <div class="card-body">
            <h5 class="card-text">{{favourite_car.make}}</h5>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="is_profile_of_logged_user && rents != null && rents.length > 0" id="favourite_vozila_uporabnika">
      <h2>Vehicles I rented:</h2>
      <div class="row" *ngFor="let my_rent of rents">
        <div class="card col-12 col-sm-12 col-md-7 col-lg-5 col-xl-4 card_auto">
          <div class="card-body">
            <h5 class="card-text">From date:
              {{my_rent.date_from}} 
              <br>
              to date: 
              {{my_rent.date_to}}</h5>
            <button type="button" onclick="location.href='/vehicles/{{my_rent.vehicle_id}}'" class="btn btn-primary btn-block card_auto_najemi_button">Visit vehicle profile</button>
            <button type="button" onclick="location.href='/rented/{{my_rent._id}}/delete'" class="btn btn-primary btn-block card_auto_najemi_button">Delete this rent</button>
          </div>
        </div>
      </div>
    </div>

  </section>
</main>
<script src="../../../../assets/javascripts/profile.js"></script>