<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="login-container col-9 col-md-6 col-xl-5 text-center">
      <h2>Welcome back!</h2>
      <modal #modal [text]="modal_text" [header]="'Error!'"></modal>
      <div *ngIf="status" id="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
        <p>{{status}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="login()">
        <div class="login-el">
          <label for="e-mail">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
              <path fill-rule="evenodd"
                d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z">
              </path>
            </svg>
          </label>
          <input [(ngModel)]="user.email" id="mail" type="email" name="email" class="w-75" placeholder="email" required autofocus="" autocomplete="email">
        </div>
        <div class="login-el">
          <label for="password">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
              <path fill-rule="evenodd"
                d="M6.5 5.5a4 4 0 112.731 3.795.75.75 0 00-.768.18L7.44 10.5H6.25a.75.75 0 00-.75.75v1.19l-.06.06H4.25a.75.75 0 00-.75.75v1.19l-.06.06H1.75a.25.25 0 01-.25-.25v-1.69l5.024-5.023a.75.75 0 00.181-.768A3.995 3.995 0 016.5 5.5zm4-5.5a5.5 5.5 0 00-5.348 6.788L.22 11.72a.75.75 0 00-.22.53v2C0 15.216.784 16 1.75 16h2a.75.75 0 00.53-.22l.5-.5a.75.75 0 00.22-.53V14h.75a.75.75 0 00.53-.22l.5-.5a.75.75 0 00.22-.53V12h.75a.75.75 0 00.53-.22l.932-.932A5.5 5.5 0 1010.5 0zm.5 6a1 1 0 100-2 1 1 0 000 2z">
              </path>
            </svg>
          </label>
          <input [(ngModel)]="user.password" id="password" type="password" name="password" class="w-75" placeholder="password" required autocomplete="current-password">
        </div>
        <input type="checkbox" class="large-checkbox">
        <label>
          <h6>Remember Me</h6>
        </label>
        <input id="submit-login" type="submit" class="btn btn-dark w-75" value="LOG IN">
        <div class="login-el">
          <a routerLink="/users/register">Don't have an account?</a>
          <a routerLink="/users/forgot_password">Forgot password?</a>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row justify-content-center">
    <a href="/" class="btn btn-info back-to-homepage">Back to homepage</a>
  </div>
  <div class="row">
    <div class="col-12">
      <img src="../../../assets/images/login-bg.jpg" class="img-fluid z-img" alt="...">
    </div>
  </div>
</div>