<main>
    <!--{{vehicle | json}}-->
    <!-- galerija-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol *ngIf="indicators" class="carousel-indicators">

            <li *ngFor="let indicator of indicators" data-target="#carouselExampleIndicators"
                data-slide-to="{{indicator.num}}" class="{{indicator.active}}">
            </li>
            <!-- TODO linki??? -->
            <!--class="{{indicator.active}}-->
        </ol>
        <div class="carousel-inner">

            <div *ngFor="let car_photo of car_photos" class="carousel-item {{car_photo.active}}">
                <img class=" d-block w-100" src="../../../../assets/uploads/{{car_photo.image}}" alt="car-photo">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div *ngIf="alert_error && (!user || !vehicle)" id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>{{alert_error}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form (ngSubmit)="book()">

        <div class="container-fluid pt-5 pb-3">
            <!--- ime-->
            <input *ngIf="vehicle" type="hidden" name="_id" id="_id" value="{{vehicle._id}}">
            <div class="row justify-content-center ml-3">
                <div class="name">
                    <h2 *ngIf="vehicle" class="inline car-name">{{vehicle.make}} {{vehicle.model}}</h2>
                    <i *ngIf="user_logged && is_favourite_of_logged_user" id="favorite"
                        onclick='location.href="/vehicles/{{_id}}/changefavorite/{{owner_id}}"'
                        class="fas fa-heart"></i>
                    <i *ngIf="!user_logged || !is_favourite_of_logged_user" id="favorite"
                        onclick='location.href="/vehicles/{{_id}}/changefavorite/{{owner_id}}"'
                        class="far fa-heart"></i>
                </div>
            </div>

            <!--- ocena-->
            <div class="row mt-3 mb-3 ml-0.5 justify-content-center">
                <div class="rating">
                    <h3 class="inline">Rating:</h3>
                    <span *ngIf="avg_rating" id="stars-vp" [innerHTML]="avg_rating | stars"></span>
                </div>
            </div>

            <!--- lastnik in opis-->
            <div class="row m-3">
                <div class="col-sm-12 col-md-4 ">
                    <!--TODO owner_id??-->
                    <input *ngIf="user" name="{{user.profile_picture}}" type="hidden" value="{{user.profile_picture}}">
                    <a *ngIf="user" routerLink="/users/profiles/{{owner_id}}"><img class="avatar"
                            src="../../../../assets/uploads/{{user.profile_picture}}" alt="avatar"></a>
                    <ul class="list-group list-group-flush">
                        <input type="hidden" name="owner_id" id="owner_id" value="{{owner_id}}">

                        <li *ngIf="user" id="fullname" class="list-group-item contact-details"><i
                                class="fas fa-user"></i>{{user.firstname}}
                            {{user.lastname}}</li>
                        <li *ngIf="user && user.phone_number" id="phone" class="list-group-item contact-details"><i
                                class="fas fa-phone"></i>{{user.phone_number}}</li>
                        <li *ngIf="user" id="email" class="list-group-item contact-details"><i
                                class="far fa-envelope"></i>{{user.email}}</li>

                        <li *ngIf="user && user.location" id="location" class="list-group-item contact-details"><i
                                class="far fa-map"></i>{{user.location}}</li>

                    </ul>
                </div>
                <div class="col-sm-12 col-md-7 offset-md-1">
                    <div class="card mb-3">
                        <div class="card-body desc">
                            <blockquote class="blockquote mb-0">
                                <p *ngIf="vehicle">{{vehicle.description}}</p>
                                <footer *ngIf="user" class="blockquote-footer">{{user.username}}</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <!--- lastnosti in izposodi-->
            <div class="row m-3 mt-5">
                <h3>Features:</h3>
                <div class="col-12" *ngIf="vehicle" [outerHTML]="vehicle | featurehelper"></div>
                <br>

                <div class="book col-sm-8 col-md-4 mt-4">
                    <div class="form-group">
                        <label for="date-from">From</label>
                        <input *ngIf="vehicle" [(ngModel)]="date-from" id="date-from" type="date" class="form-control" name="date" [min]="vehicle.date[0]"
                            [max]="vehicle.date[1]">
                    </div>
                    <div class="form-group">
                        <label for="date-to">To</label>
                        <input *ngIf="vehicle" [(ngModel)]="date-to" id="date-to" type="date" class="form-control" min="{{vehicle.date[0]}}"
                            max="{{vehicle.date[1]}}" name="date">
                    </div>
                    <div class="form-group"><label for="cars">Location of pickup &amp; return</label>
                        <select name="pickup_locations" id="cars">
                            <option *ngIf="vehicle">{{vehicle.addres}}, {{vehicle.zip}} {{vehicle.city}}</option>
                        </select>
                    </div>
                    <div class="price form-group ">
                        <h5 class="inline font-weight-bold" id="price"></h5>
                        <h5 class="inline"> (</h5>
                        <!--<input class="inline" id="daily-price" name="priceValue" id="priceValue" value="{{price}}€" readonly> -->
                        <h5 *ngIf="vehicle" class="inline" id="daily-price" name="daily-price">{{vehicle.price}}€</h5>
                        <h5 class="inline">/day)</h5>
                        <input id="submit-button" type="submit" class="btn btn-primary" value="Book" disabled="true">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--- recenzije-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class=" reviews m-3">
                <table *ngIf="vehicle" id="t">
                    <tr>
                        <td colspan="2">Users</td>
                        <td>Rating</td>
                        <td colspan="2">Comments</td>
                    </tr>
                    <tr class="review" *ngFor="let review of vehicle.reviews">
                        <td class='profile' colspan='2'>
                            <img class="avatar" src="../../../../assets/uploads/{{review.img}}">
                            <strong> {{review.username}}</strong>
                        </td>
                    
                        <td class='stars'>
                            <span>{{review.rating}}</span>
                        </td>
                        <td class='comment'>{{review.comment}}</td>
                        <td *ngIf="review.show_delete_button">
                            <!--<input type='button' class = 'btn btn-danger delete' value = 'Delete' onclick = "location.href='/vehicles/{{review.vehicleId}}/reviews/{{review._id}}/delete'" owner="{{review.username}}" ></input>-->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf="user_logged" class="row justify-content-center mx-4">
        <input *ngIf="vehicle" type="button" class="btn btn-lg btn-primary" value="Add review"
            onclick="location.href='/vehicles/{{vehicle._id}}/reviews'">
    </div>
    <br>

</main>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script src="../../../../assets/javascripts/vehicleprofile.js"></script>