<nav class="navbar navbar-main navbar-expand-lg sticky-top justify-content-between">
  <div class="container-fluid">
    <a class="navbar-brand logo img-fluid= img-responsive m-0" routerLink="/"><img
        src="../../../../assets/images/Logo.png" width="170" alt="Rent&Drive" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcol-1" aria-controls="navcol-1"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span><img src="../../../../assets/images/menu-bars-icon.png"
        alt="Expand" />
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item mx-md-2" role="presentation">
          <a class="nav-link active" routerLink="/"><i class="material-icons fa-fw align-middle"
              aria-hidden="true">collections</i>
            Catalogue</a>
        </li>
        <li class="nav-item mx-md-2" role="presentation">
          <a class="nav-link" routerLink="/nearby"><i class="material-icons fa-fw align-middle"
              aria-hidden="true">near_me</i>
            Nearby</a>
        </li>
        <li *ngIf="is_user_logged()" class="nav-item mx-md-2" role="presentation">
          <a class="nav-link" routerLink="/vehicles/publish"><i class="material-icons fa-fw align-middle"
              aria-hidden="true">add_to_photos</i>
            List your car</a>
        </li>
        <li *ngIf="is_user_logged()" class="nav-item mx-md-2" role="presentation">
          <a class="nav-link" routerLink="/users/profiles/{{ get_user_id() }}"><i
              class="material-icons fa-fw align-middle" aria-hidden="true">account_box</i>
            My profile</a>
        </li>
        <li *ngIf="!is_user_logged()" class="nav-item mx-md-2" role="presentation">
          <a class="nav-link" routerLink="/users/register"><i class="material-icons fa-fw align-middle"
              aria-hidden="true">account_box</i>
            Register</a>
        </li>
        <li *ngIf="!is_user_logged()" class="nav-item mx-md-2" role="presentation">
          <a class="nav-link" routerLink="/users/login"><i class="material-icons fa-fw align-middle"
              aria-hidden="true">account_box</i>
            Login</a>
        </li>
        <li class="nav-item mx-md-2" role="presentation">
          <a class="nav-link" [routerLink]="['/search']" [queryParams]="{ page: '1' }"><i
              class="material-icons fa-fw align-middle" aria-hidden="true">search</i>
            Search</a>
        </li>
        <li *ngIf="!jePovezava()" class="nav-item mx-md-2" role="presentation">
          <a class="nav-link disabled"><i class="fas fa-exclamation-triangle ni-povezave"></i>No
            connection</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="footer-basic pt-4 w-100 mt-2">
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 w-100 h-100 footer-left">
          <img src="../../../../assets/images/Logo.png" class="footer-logo" width="200" alt="Rent&Drive" />
          <p class="pt-2">
            If you need any further help feel free to contact us on:
          </p>
          <ul>
            <li class="my-2">
              <a href="mailto:mi2583@student.uni-lj.si">mi2583@student.uni-lj.si</a>
            </li>
            <li class="my-2">
              <a href="mailto:mk9693@student.uni-lj.si">mk9693@student.uni-lj.si</a>
            </li>
            <li class="my-2">
              <a href="mailto:nb9762@student.uni-lj.si">nb9762@student.uni-lj.si</a>
            </li>
            <li class="my-2">
              <a href="mailto:bi4528@student.uni-lj.si">bi4528@student.uni-lj.si</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4 text-center">
          <p class="pt-4">
            Never forget to respect others people personal cars. Try to keep
            them clean, take care of them like if it was yours. Give it back the
            way it was given to you. Also always respect the road safety
            regulations, rules and signs. Stay safe and have a good time.
          </p>
        </div>

        <div class="col-md-4 ul-list">
          <ul>
            <li class="my-2"><a routerLink="/">Home</a></li>
            <li class="my-2"><a routerLink="/nearby">Nearby</a></li>
            <li class="my-2" *ngIf="is_user_logged()">
              <a routerLink="/vehicles/publish">List your car</a>
            </li>
            <li class="my-2" *ngIf="is_user_logged()">
              <a routerLink="/users/profiles/{{ get_user_id() }}">My profile</a>
            </li>
            <li class="my-2" *ngIf="!is_user_logged()">
              <a routerLink="/users/login">Login</a>
            </li>
            <li class="my-2" *ngIf="!is_user_logged()">
              <a routerLink="/users/register">Register</a>
            </li>
            <li class="my-2"><a routerLink="/search">Search</a></li>
          </ul>
        </div>
      </div>
      <p class="copyright">Oranžni FRI (Skupina 01) © 2020</p>
    </div>
  </footer>
</div>
