<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Rent&amp;Drive</title>
  <link rel="shortcut icon" type="image/icon" href="/favicon/favicon.ico"/>
  <link rel="stylesheet" href="/stylesheets/Footer-Basic.css" />
  <link rel="stylesheet" href="/stylesheets/styles.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@200&display=swap" rel="stylesheet">
  </head>

<body>

{{{body}}}

<div class="footer-basic pt-4 w-100">
    <footer>
      <div class="container-fluid">
          <div class="row">
          <div class="col-md-4 w-100 h-100 footer-left">
            <img src="/images/Logo.png" class="footer-logo" width="200" alt="Rent&Drive">
            <p class="pt-2">If you need any further help feel free to contact us on:</p>
            <ul>
              <li><a href="mailto:mi2583@student.uni-lj.si">mi2583@student.uni-lj.si</a></li>
              <li><a href="mailto:mk9693@student.uni-lj.si">mk9693@student.uni-lj.si</a></li>
              <li><a href="mailto:nb9762@student.uni-lj.si">nb9762@student.uni-lj.si</a></li>
              <li><a href="mailto:bi4528@student.uni-lj.si">bi4528@student.uni-lj.si</a></li>
            </ul>
          </div>
          
          <div class="col-md-4 text-center">
            <p class="pt-4"> Never forget to respect others people personal cars. Try to keep them clean, take care of them like if it was yours. Give it back the way it was given to you.
            Also always respect the road safety regulations, rules and signs. Stay safe and have a good time.</p>
          </div>
          
          <div class="col-md-4 ul-list">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/nearby">Nearby</a></li>
              <li><a href="/publish">List your car</a></li>
              <li><a href="/users/my">My profile</a></li>
              <li><a href="/search">Search</a></li>
            </ul>
          </div>
        
          </div>
        <p class="copyright">Oranžni FRI (Skupina 01) © 2020</p>
      </div>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" 
    crossorigin="anonymous"></script>
  
  <!-- Prevedena in minimizirana JavaScript koda verzije 4.5.2 -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" 
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>