<main>
    <div class="container panel">
        <div class="card-header panel-title">
            Booking Summary
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img src="/images/nissan-pixo.jpg" class="card-img-top" alt="Nissan">
                    <div class="card-body">
                        <h5 class="card-title">Booking information</h5>
                        <p class="card-text">Note: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Pickup Date: 2020-11-20</li>
                        <li class="list-group-item">Pickup Location: Palmira Toljatija 52, Belgrade</li>
                        <li class="list-group-item">Return Date: 2020-11-28</li>
                        <li class="list-group-item">Return Location: Jurija Gagarina 113, Belgrade</li>
                    </ul>
                    <div class="card-body">
                            <a href="/vehicles/other" class="card-link text-primary" id="return-link">
                            <i class="fas fa-caret-left"></i>
                            Return</a>
                        <a href="/users/confirm" class="card-link text-success float-right" id="confirm-link">
                            <i class="fas fa-caret-right"></i>
                            Confirm</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="/images/franka-potente-8052.jpg" class="card-img-top" alt="Marina">
                    <div class="card-body">
                        <h5 class="card-title">Owner</h5>
                        <p class="card-text">Note: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: marinica_pametnica</li>
                        <li class="list-group-item">e-mail: marina.kus@gmail.com</li>
                        <li class="list-group-item">Number: +381 65 780 456</li>
                        <li class="list-group-item">Location: Belgrade, Serbia</li>
                    </ul>
                    <div class="card-body">
                        <a href="/users/other" class="card-link stretched-link text-primary">
                            <i class="fas fa-caret-up"></i>
                            Check profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="/images/207447_vuk_ff.jpg" class="card-img-top" alt="Vuk">
                    <div class="card-body">
                        <h5 class="card-title">My Profile</h5>
                        <p class="card-text">Note: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: vukce_nbgd</li>
                        <li class="list-group-item">e-mail: kosticv@gmail.com</li>
                        <li class="list-group-item">Number: +381 64 647 006</li>
                        <li class="list-group-item">Location: Belgrade, Serbia</li>
                    </ul>
                    <div class="card-body">
                        <a href="/users/edit" class="card-link stretched-link text-primary">
                            <i class="fas fa-caret-up"></i>
                            Edit profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>