<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="login-container col-9 col-md-6 col-xl-5 text-center" id="confirmed">
            <!--<h2>There you go!</h2>
            <p>Your reservation has been processed successfully!</p>
            <p>Please, click down below to check more offers!</p>-->
            {{confirm1}}
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <a href="/" class="btn btn-info back-to-homepage" >Back to homepage</a>
    </div>
</div>
<img src="/images/viola.jpg" class="img-fluid" alt="...">

