<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="forgot-pw-container col-12 col-md-6 col-xl-6 text-center">
            <h3>Please enter your email address below.</h3>
            <h3>We will send you information to change your password.</h3>
            <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert" hidden>
                <p></p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/users/forgot-password">
                <div class="forgot-pw-el">
                    <label for="e-mail">
                        <i class="fas fa-pen"></i>
                    </label>
                    <input id="mail" type="email" class="w-75" name="email" placeholder="email" required autofocus>
                </div>
                <input id="submit-forgot" type="submit" class="btn btn-dark w-80" value="RECOVER PASSWORD">
                <div class="forgot-pw-el">
                    <a href="login">Login page</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <a href="/" class="btn btn-info">Back to homepage</a>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="/images/forgot-password-bg.jpg" class="img-fluid mt-2 z-img" alt="...">
        </div>
    </div>
</div>
<script src="/javascripts/validate.js"></script>
<script src="/javascripts/forgotpassword.js"></script>