<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Rent&Drive</title>
  <link rel="shortcut icon" type="image/icon" href="/favicon/favicon.ico" />
  <link rel="stylesheet" href="/stylesheets/Footer-Basic.css" />
  <link rel="stylesheet" href="/stylesheets/styles.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@200&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-main navbar-expand-lg sticky-top justify-content-between">
    <div class="container-fluid">
      <a class="navbar-brand logo img-fluid= img-responsive m-0" href="/"><img src="/images/Logo.png"
          width="170" alt="Rent&Drive"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcol-1"
        aria-controls="navcol-1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span><img src="/images/menu-bars-icon.png" alt="Expand">
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item mx-md-2" role="presentation">
            <a class="nav-link active" href="/"><i class="material-icons fa-fw align-middle"
                aria-hidden="true">collections</i> Catalogue</a>
          </li>
          <li class="nav-item mx-md-2" role="presentation">
            <a class="nav-link" href="/nearby"><i class="material-icons fa-fw align-middle"
                aria-hidden="true">near_me</i> Nearby</a>
          </li>
          <li class="nav-item mx-md-2" role="presentation">
            <a class="nav-link" href="/publish"><i class="material-icons fa-fw align-middle"
                aria-hidden="true">add_to_photos</i> List your car</a>
          </li>
          <li class="nav-item mx-md-2" role="presentation">
            <a class="nav-link" href="/users/my"><i class="material-icons fa-fw align-middle"
                aria-hidden="true">account_box</i> My profile</a>
          </li>
          <li class="nav-item mx-md-2" role="presentation">
            <a class="nav-link" href="/search"><i class="material-icons fa-fw align-middle"
                aria-hidden="true">search</i> Search</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {{{body}}}

  <div class="footer-basic pt-4 w-100">
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 w-100 h-100 footer-left">
            <img src="/images/Logo.png" class="footer-logo" width="200" alt="Rent&Drive">
            <p class="pt-2">If you need any further help feel free to contact us on:</p>
            <ul>
              <li><a href="mailto:mi2583@student.uni-lj.si">mi2583@student.uni-lj.si</a></li>
              <li><a href="mailto:mk9693@student.uni-lj.si">mk9693@student.uni-lj.si</a></li>
              <li><a href="mailto:nb9762@student.uni-lj.si">nb9762@student.uni-lj.si</a></li>
              <li><a href="mailto:bi4528@student.uni-lj.si">bi4528@student.uni-lj.si</a></li>
            </ul>
          </div>

          <div class="col-md-4 text-center">
            <p class="pt-4"> Never forget to respect others people personal cars. Try to keep them clean, take care of
              them like if it was yours. Give it back the way it was given to you.
              Also always respect the road safety regulations, rules and signs. Stay safe and have a good time.</p>
          </div>

          <div class="col-md-4 ul-list">
            <ul>
              <li><a href="home.html">Home</a></li>
              <li><a href="nearby.html">Nearby</a></li>
              <li><a href="publish.html">List your car</a></li>
              <li><a href="profile.html">My profile</a></li>
              <li><a href="search.html">Search</a></li>
            </ul>
          </div>

        </div>
        <p class="copyright">Oranžni FRI (Skupina 01) © 2020</p>
      </div>
    </footer>
  </div>



  <script src="/javascripts/edit_profile.js"></script>
  <script src="/javascripts/validate.js"></script>
  <!-- Podporni knjižnici jQuery in Popper -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>

  <!-- Prevedena in minimizirana JavaScript koda verzije 4.5.2 -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</body>

</html>