<main>
    <section class="container panel">
        <div class="row">
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body d-inline-flex flex-column">
                        <h5 class="card-title">Choose a vehicle nearby:</h5>
                        <p class="card-text">Select location on map:</p>
                        <img src="/images/lj-center.jpg" class="img-fluid" alt="...">
                        <a href="#" class="button mt-auto button1">Show available vehicles</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body d-inline-flex flex-column">
                        <h5 class="card-title">Weather forecast:</h5>
                        <p class="card-text">Weather forecast for selected area:</p>
                        <img src="/images/vreme.png" class="img-fluid" alt="...">
                        <a href="#" class="button mt-auto button1">Show weather forecast</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>