<div class="container mt-3 mt-sm-4">
    <H2 class="publish-h2">Publish your vehicle:</H2>
    <form method="post" action="/vehicles/" id="list-your-car" onsubmit="appendToForm()">

        <div class="py-3 py-sm-4">
            <H4 class="col-sm-12">Upload a photo:</H4>
            <div class="form-group border border-dark rounded p-2">
                <label for="exampleFormControlFile1">Upload pictures from your car:</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" name="car-photos" multiple>
            </div>
        </div>

        <div class="form-row">
            <H4 class="col-sm-12 pt-2 pt-sm-2">General info:</H4>
            <div class="input-group col-sm-12 col-md-6 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Make:</span>
                </div>
                <input type="text" aria-label="Make" class="form-control" autofocus tabindex=1 name="make">
            </div>

            <div class="input-group col-sm-12 col-md-6 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Model:</span>
                </div>
                <input type="text" aria-label="Model" class="form-control" tabindex=2 name="model">
            </div>

            <div class="input-group col-sm-12 col-md-6 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Type of fuel:</span>
                </div>
                <select class="form-control" tabindex=3 name="typeoffuel">
                    <option>Petrol</option>
                    <option>Diesel</option>
                    <option>Hybrid</option>
                    <option>Electric</option>
                    <option>LPG</option>
                </select>
            </div>

            <div class="input-group col-sm-12 col-md-6 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Vehicle type:</span>
                </div>
                <select class="form-control" tabindex=4 name="category">
                    <option>Saloon</option>
                    <option>Estate</option>
                    <option>Hatchback</option>
                    <option>Coupe</option>
                    <option>SUV</option>
                    <option>Pick-up</option>
                </select>
            </div>

            <div class="input-group col-sm-6 col-md-6 col-lg-4 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Horsepower:</span>
                </div>
                <input type="number" aria-label="Model" class="form-control" tabindex=5 name="hp">
            </div>

            <div class="input-group col-sm-6 col-md-6 col-lg-4 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Max-speed:</span>
                </div>
                <input type="number" aria-label="Model" class="form-control" tabindex=6 name="maxspeed">
            </div>

            <div class="input-group col-sm-6 col-md-6 col-lg-4 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Acceleration 0-100 km/h:</span>
                </div>
                <input type="number" aria-label="Model" class="form-control" tabindex=7 name="acceleration">
            </div>


            <div class="input-group col-sm-6 col-md-6 col-lg-4 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Fuel consumption:</span>
                </div>
                <input type="number" aria-label="Model" class="form-control" tabindex=8 name="consumption">
            </div>

            <div class="input-group col-sm-6 col-md-6 col-lg-4 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Number of seats:</span>
                </div>
                <input type="number" aria-label="Model" class="form-control" tabindex=9 name="seats">
            </div>

            <div class="input-group col-sm-6 col-md-6 col-lg-4 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Number of doors:</span>
                </div>
                <input type="number" aria-label="Model" class="form-control" tabindex=10 name="doors">
            </div>
            <div class="input-group col-sm-6 col-md-6 col-lg-4 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Luggage capacity:</span>
                </div>
                <input type="number" aria-label="Model" class="form-control" tabindex=10 name="luggage">
            </div>
            <div class="input-group col-sm-12 col-md-6 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Minimum age:</span>
                </div>
                <select class="form-control" tabindex=4 name="age">
                    <option>15</option>
                    <option>16</option>
                    <option>18</option>
                    <option>21</option>
                </select>
            </div>

            <H4 class="col-sm-12 pt-2 pt-sm-2">Features:</H4>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2 mx-4">
                <input type="checkbox" class="custom-control-input" id="AirConditioning" name="AirConditioning">
                <label class="custom-control-label" for="AirConditioning">A/C</label>
            </div>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2  mx-4">
                <input type="checkbox" class="custom-control-input" id="Navigation" name="Navigation">
                <label class="custom-control-label" for="Navigation">Navigation</label>
            </div>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2  mx-4">
                <input type="checkbox" class="custom-control-input" id="USB" name="USB">
                <label class="custom-control-label" for="USB">USB</label>
            </div>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2  mx-4">
                <input type="checkbox" class="custom-control-input" id="AUX" name="AUX">
                <label class="custom-control-label" for="AUX">AUX</label>
            </div>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2  mx-4">
                <input type="checkbox" class="custom-control-input" id="Bluetooth" name="bluetooth">
                <label class="custom-control-label" for="Bluetooth">Bluetooth</label>
            </div>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2  mx-4">
                <input type="checkbox" class="custom-control-input" id="Parking-sensors" name="parkingsensors">
                <label class="custom-control-label" for="Parking-sensors">Parking Sensors</label>
            </div>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2  mx-4">
                <input type="checkbox" class="custom-control-input" id="Auto-pilot" name="autopilot">
                <label class="custom-control-label" for="Auto-pilot">Auto-pilot</label>
            </div>
            <div class="custom-control custom-checkbox col-xs-6 col-sm-4 col-md-2  mx-4">
                <input type="checkbox" class="custom-control-input" id="accessibility" name="accessibility">
                <label class="custom-control-label" for="accessibility">Accessible</label>
            </div>

            <H4 class="col-sm-12 pt-2 pt-sm-2">Additional info:</H4>
            <div class="input-group col-sm-12">
                <textarea class="form-control" id="TextArea" rows="3" tabindex=11 name="description"></textarea>
            </div>

            <H4 class="col-sm-12 pt-2 pt-sm-2">Location &amp; price:</H4>

            <div class="input-group col-sm-12 col-lg-6 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Adress:</span>
                </div>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" tabindex=12
                    name="address">
            </div>

            <div class="input-group col-sm-6 col-lg-3 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">City:</span>
                </div>
                <input type="text" aria-label="Model" id="city" class="form-control" tabindex=13 name="city">
            </div>

            <div class="input-group col-sm-6 col-lg-3 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">ZIP:</span>
                </div>
                <input type="text" aria-label="Model" id="zip" class="form-control" tabindex=14 name="zip">
            </div>

            <div class="input-group col-sm-12 col-lg-5 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Price per day:</span>
                </div>
                <input type="text" aria-label="Model" class="form-control" id="inputPrice" tabindex=15 name="price">
            </div>

            <div class="input-group col-sm-12 col-lg-7 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Contact number:</span>
                </div>
                <input type="text" aria-label="Model" class="form-control" tabindex=16 name="number">
            </div>

            <div class="input-group col-sm-12 col-lg-12 pt-2 pt-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Available on:</span>
                </div>
                <input type="date" class="form-control" name="date" tabindex=17 name="datefrom">
                <input type="date" class="form-control" name="date" tabindex=18 name="dateto">
            </div>

            <div class="row col-12 py-4 justify-content-center">
                <div class="col-1">
                    <a href="/">
                        <input type="submit" class="btn btn-lg btn-secondary" tabindex=19></input>
                    </a>
                </div>
            </div>

        </div>

    </form>
</div>

<script src="/javascripts/validate.js"></script>
<script src="/javascripts/publish.js"></script>