<div class="container-fluid">

    <div class="row m-2 justify-content-center">
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4 col-lg-3 my-3 float-left">
            <div class="card">
                <img class="card-img-top car_image_search" src="/images/car_1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Chevrolet Aveo</h4>
                    <p class="card-text">Renting my beauty. Well looked after always clean come and pick it up.</p>
                    <a class="btn btn-light rounded border-secondary">Book for only 30$/day</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3 my-3 float-left">
            <div class="card">
                <img class="card-img-top car_image_search" src="/images/car_2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">BMW 1 series</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a class="btn btn-light rounded border-secondary">Book for only 60$/day</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3 my-3 float-left">
            <div class="card">
                <img class="card-img-top car_image_search" src="/images/car_3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Mercedes A-class</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a class="btn btn-light rounded border-secondary">Book for only 40$/day</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3 my-3 float-left">
            <div class="card">
                <img class="card-img-top car_image_search" src="/images/car_4.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Maserati</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a class="btn btn-light rounded border-secondary">Book for only 110$/day</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3 my-3 float-left">
            <div class="card">
                <img class="card-img-top car_image_search" src="/images/car_5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Chevrolet Aveo</h4>
                    <p class="card-text">Renting my beauty. Well looked after always clean come and pick it up.</p>
                    <a class="btn btn-light rounded border-secondary">Book for only 30$/day</a>
                </div>
            </div>
        </div>


    </div>
    <div class="reset-content"></div>

</div>