.step-button {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  overflow: hidden;
  outline:none;
}

.step-num-circle{
     display:-ms-inline-flexbox;
     display:inline-flex;
     -ms-flex-line-pack:center;
     align-content:center;
     -ms-flex-pack:center;
     justify-content:center;
     width:2em;
     height:2em;
     padding:.5em 0;
     margin:.25rem;
     line-height:1em;
     color:#fff;
     background-color:#6495ED;
     border-radius:1em
     
 }
 
 .step-label{
     display:inline-block;
     color: #6495ED;
     font-weight: bold;
     margin:.25rem
     
 }
 
 .line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #6495ED;
}

.title{
    color: #6495ED; 
    font-family: 'Open Sans Condensed', 
    sans-serif; 
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
}