body {
    font-family: 'Piazzolla', serif;
}

h2 {
font-weight: bold;
}

.log-in-body button {
text-transform: uppercase;
font-weight: bold;
}

.login-container, .register-container, .forgot-pw-container {
background-color: white;
border-radius: 2cm;
border-width: 0.5cm;
border-color: tomato;
border-style: solid;
box-shadow: 0px 0px 16px 4px;
padding: 15px;
z-index: 1;
}

.register-container {
    border-color: mediumspringgreen;
}

.forgot-pw-container {
    border-color: orange;
}


.login-el, .register-el, .forgot-pw-el {
margin: 20px;
}


.log-in-body a {
color:red;
}

.forgot-pw-body a {
    color: darkslateblue;
}

.log-in-body svg, .register-body svg{
margin-right: 5.2px;
width:1.75em; 
height:1.75em;
}

.large-checkbox{
    display: inline;
    vertical-align: middle;
    width:18px;
    height:18px;
    padding-right: 15px;
}

/* vehicleprofile.html */

.avatar {
    border-radius: 50%;
    border: solid black 5px;
    margin-bottom: 10px;
}

/*mogoče vpliva na login register? 
.row {
    margin: 10px;
}*/

table, th, td {
    text-align: center;
    border-bottom: 1px solid #000;
    padding: 10px;
}

.user {
    font-weight: bold;
}

.comment {
    font-style: italic;
}
