<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="login-container col-9 col-md-6 col-xl-5 text-center" id="reset-password">
            <h2>Reset your password!</h2>
            <div *ngIf="alert_error" id="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
                <p>{{alert_error}}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="reset_password()">
                <div class="login-el">
                    <label for="password">
                        <i class="far fa-envelope"></i>
                    </label>
                    <input name="email" id="email" type="email" class="w-75" value="{{user.email}}" disabled>
                </div>
                <div class="login-el">
                    <label for="password">
                        <i class="fas fa-key"></i>
                    </label>
                    <input [(ngModel)]="password" name="password" id="password" type="password" class="w-75" placeholder="enter new password"
                        required>
                </div>
                <div class="login-el">
                    <i class="fas fa-key"></i>
                    <input  [(ngModel)]="repeated_password" name="password_repeated" id="password_repeated" type="password" class="w-75"
                        placeholder="repeat new password" required>
                </div>
                <input [disabled]="!jePovezava()" id="submit-new-password" type="submit" class="btn btn-dark w-75" value="SUBMIT"><a
                    routerLink="login"></a>
            </form>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="container mt-4">
        <div class="col-12">
            <img src="../../../../assets/images/city-driver-bro1.png" class="img-fluid" alt="...">
        </div>
    </div>
</div>